@* Src/RhSensoWeb/Views/Home/Index.cshtml *@

@using RhSensoWeb.Extensions
@model dynamic
@{
    ViewData["Title"] = "Dashboard";
}

<!-- Header -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- Main content -->
<div class="content">
    <div class="container-fluid">

        <!-- Info boxes -->
        <div class="row">
            <!-- Box 1 - Usuários -->
            <div class="col-lg-3 col-6" permission="SEG.SEG_USUARIOS.C">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>150</h3>
                        <p>Usuários Ativos</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <a href="@Url.Action("Index", "Usuarios", new { area = "SEG" })" class="small-box-footer">
                        Ver detalhes <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

            <!-- Box 2 - Funcionários -->
            <div class="col-lg-3 col-6" permission="RHU.RHU_FUNCIONARIOS.C">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>532</h3>
                        <p>Funcionários</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-user-tie"></i>
                    </div>
                    <a href="@Url.Action("Index", "Funcionarios", new { area = "RHU" })" class="small-box-footer">
                        Ver detalhes <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

            <!-- Box 3 - Afastamentos -->
            <div class="col-lg-3 col-6" permission="RHU.RHU_AFASTAMENTOS.C">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>23</h3>
                        <p>Afastamentos Ativos</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-user-clock"></i>
                    </div>
                    <a href="@Url.Action("Index", "Afastamentos", new { area = "RHU" })" class="small-box-footer">
                        Ver detalhes <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

            <!-- Box 4 - Férias -->
            <div class="col-lg-3 col-6" permission="RHU.RHU_FERIAS.C">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>12</h3>
                        <p>Férias Programadas</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-umbrella-beach"></i>
                    </div>
                    <a href="@Url.Action("Index", "Ferias", new { area = "RHU" })" class="small-box-footer">
                        Ver detalhes <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Informações do Usuário -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-user mr-2"></i>Informações do Usuário
                        </h3>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-3">Nome:</dt>
                            <dd class="col-sm-9">@ViewBag.UserName</dd>

                            <dt class="col-sm-3">Email:</dt>
                            <dd class="col-sm-9">@ViewBag.UserEmail</dd>

                            <dt class="col-sm-3">Empresa:</dt>
                            <dd class="col-sm-9">@ViewBag.CompanyCode</dd>

                            <dt class="col-sm-3">Filial:</dt>
                            <dd class="col-sm-9">@ViewBag.BranchCode</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <!-- Cards de Atalhos Rápidos -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-bolt mr-2"></i>Atalhos Rápidos
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!-- Segurança -->
                            <div class="col-md-3" permission="SEG.SEG_USUARIOS.C">
                                <div class="info-box bg-gradient-info">
                                    <span class="info-box-icon"><i class="fas fa-shield-alt"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Segurança</span>
                                        <span class="info-box-number">Gerenciar</span>
                                        <a href="@Url.Action("Index", "Usuarios", new { area = "SEG" })" class="text-white">
                                            <small>Ver usuários <i class="fas fa-arrow-right"></i></small>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <!-- RH -->
                            <div class="col-md-3" permission="RHU.RHU_FUNCIONARIOS.C">
                                <div class="info-box bg-gradient-success">
                                    <span class="info-box-icon"><i class="fas fa-users"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Recursos Humanos</span>
                                        <span class="info-box-number">Gerenciar</span>
                                        <a href="@Url.Action("Index", "Funcionarios", new { area = "RHU" })" class="text-white">
                                            <small>Ver funcionários <i class="fas fa-arrow-right"></i></small>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <!-- Afastamentos -->
                            <div class="col-md-3" permission="RHU.RHU_AFASTAMENTOS.C">
                                <div class="info-box bg-gradient-warning">
                                    <span class="info-box-icon"><i class="fas fa-user-clock"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Afastamentos</span>
                                        <span class="info-box-number">Gerenciar</span>
                                        <a href="@Url.Action("Index", "Afastamentos", new { area = "RHU" })" class="text-white">
                                            <small>Ver afastamentos <i class="fas fa-arrow-right"></i></small>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <!-- Férias -->
                            <div class="col-md-3" permission="RHU.RHU_FERIAS.C">
                                <div class="info-box bg-gradient-danger">
                                    <span class="info-box-icon"><i class="fas fa-umbrella-beach"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Férias</span>
                                        <span class="info-box-number">Gerenciar</span>
                                        <a href="@Url.Action("Index", "Ferias", new { area = "RHU" })" class="text-white">
                                            <small>Ver férias <i class="fas fa-arrow-right"></i></small>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>